<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drhs.mapper.AuthItemRoleMapper">

    <resultMap id="BaseResultMap" type="com.drhs.entity.AuthItemRole">
            <id property="itemName" column="ITEM_NAME" jdbcType="VARCHAR"/>
            <id property="roleName" column="ROLE_NAME" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ITEM_NAME,ROLE_NAME
    </sql>
</mapper>
